<div class="btn-group">
    <button class="btn btn-warning" type="button">
        <small class="label label-danger">4</small>
        Scorm
    </button>
    <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle" type="button">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul role="menu" class="dropdown-menu">
        <li>
            <a href='@Url.Action("General", "Mock")'>
                Excel Basico
                <span class="badge bg-red pull-right">65%</span>
            </a>
        </li>
        <li>
            <a href='@Url.Action("General", "Mock")'>
                Share Point
                <small class="badge bg-green pull-right">100%</small>
            </a>
        </li>
        <li>
            <a href='@Url.Action("General", "Mock")'>
                Project
                <small class="badge bg-green pull-right">80%</small>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href='@Url.Action("Examen", "Mock")'>
                Examen No. 7
                <small class="badge bg-red pull-right">55%</small>
            </a>
        </li>
    </ul>
</div>
