<ul class="nav nav-tabs" style="background:#FFF none repeat scroll 0% 0% !important; ">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Programa <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-34" role="menuitem" tabindex="-1" href="#">Bienvenida</a></li>
            <li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-35" role="menuitem" tabindex="-1" href="#">Datos de Identificación</a></li>
            <li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-36" role="menuitem" tabindex="-1" href="#">Presentación</a></li>
            <li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-37" role="menuitem" tabindex="-1" href="#">Propósitos</a></li>
            <li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-38" role="menuitem" tabindex="-1" href="#">Competencias Generales</a></li>
            <li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-39" role="menuitem" tabindex="-1" href="#">Competencias Específicas</a></li>
            <li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-40" role="menuitem" tabindex="-1" href="#">Representación Gráfica</a></li>
            <li class="nx-nav-tabs-item" role="presentation">
                <a class="nx-e-41" role="menuitem" tabindex="-1" href="#">
                    Capítulo
                </a>
            </li>
        </ul>
    </li>

    <li class="dropdown active"><a class="dropdown-toggle nx-nav-tabs-active-a" data-toggle="dropdown" href="#">Curso <span class="caret"></span></a><ul class="dropdown-menu"><li class="nx-nav-tabs-item active"><a class="nx-e-1" href="#">Configuración</a></li><li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-2" role="menuitem" tabindex="-1" href="#">Estructura</a></li><li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-4" role="menuitem" tabindex="-1" href="#">Calendario</a></li><li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-31" role="menuitem" tabindex="-1" href="#">Imprimir</a></li></ul></li>
    <li class="nx-nav-tabs-item"><a class="nx-e-5" href="#">Estudiantes</a></li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Comunicación <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-9" role="menuitem" tabindex="-1" href="#">Avisos</a></li>
            <li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-11" role="menuitem" tabindex="-1" href="#">Equipos</a></li>
            <li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-10" role="menuitem" tabindex="-1" href="#">Foros</a></li>
            <li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-13" role="menuitem" tabindex="-1" href="#">Chat</a></li>
            <li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-14" role="menuitem" tabindex="-1" href="#">Mensajes</a></li>
            <li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-15" role="menuitem" tabindex="-1" href="#">Correo</a></li>
        </ul>
    </li>

    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Evaluación <span class="caret"></span></a><ul class="dropdown-menu"><li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-16" role="menuitem" tabindex="-1" href="#">Portafolio</a></li><li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-18" role="menuitem" tabindex="-1" href="#">Exámenes</a></li><li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-22" role="menuitem" tabindex="-1" href="#">Banco de Reactivos</a></li><li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-23" role="menuitem" tabindex="-1" href="#">Encuestas</a></li><li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-25" role="menuitem" tabindex="-1" href="#">Administración de Proyectos</a></li></ul></li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Herramientas <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">

            <li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-28" role="menuitem" tabindex="-1" href="#">Documentos</a></li>
            <li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-29" role="menuitem" tabindex="-1" href="#">Glosario</a></li>
            <li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-30" role="menuitem" tabindex="-1" href="#">Bitácora</a></li>
            <li class="nx-nav-tabs-item" role="presentation"><a class="nx-e-32" role="menuitem" tabindex="-1" href="#">Ligas de Interés</a></li>
        </ul>
    </li>
</ul>
